a{
    text-decoration: none;
}
nav.menu-nav ul li.btn_1{
    list-style-type: none;
    display: inline-block;
}
.btn_1{
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
}
.lower-section{
    position : absolute;
    width: 100%;
    bottom: 20%;
    text-align: center;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
}
.discord-link {
  padding: 0 2px 0 2px;
}

.big_title{
    font-size: 150px;
    font-family: 'Ubuntu', sans-serif;
}
.links{
    font-family: 'Ubuntu', sans-serif;
    color: #000;

}
body{
    margin: 0;
    padding: 0;
    background: url(../img/background.gif);
}