a{
    text-decoration: none;
}
nav.menu-nav ul li.btn_1{
    list-style-type: none;
    display: inline-block;
}
.btn_1{
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
}
.lower-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position : absolute;
    
    height: 150%;
    width: 100%;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
}
.discord-link {
  padding: 0 2px 0 2px;
}
body{
    margin: 0;
    padding: 0;
    background: url(../img/background.gif);
}